@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    font-family: 'Quicksand' 'Montserrat', sans-serif, ;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1100px;
    margin: auto;
}

/*header start*/
header {
    height: 120vh;
    background: url(./image/about.png) center center/cover no-repeat;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#navbar img {
    width: 180px;
    margin-left: 30px;
}

#navbar ul {
    display: flex;
    margin-right: 30px;
}

#navbar ul li a {
    padding: 15px 55px;
    color: white;
    font-weight: 600px;
    font-size: 30px;
}

#navbar ul li a:hover {
    border-bottom: 2px solid #ffc200;
}
#navbar ul li img{
    width: 30px;
    margin-left: 2px;
    margin-top: 5px;
    

}
header .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1 {
    color: #ffc200;
    font-size: 160px;
    font-family: the bigger the better;
    margin-left: 300px;
  
   
}

header .content p {
  justify-content: center;
  align-items: center;
  text-align: center;
    font-size: 30px;
    color: black;
    margin-top: 100px;
    line-height: 2.5;
}
.primary-text{
    color: red;
}


/*header end*/
/*recipe start*/
#recipe {
    height: 140vh;


}



#recipe .recipe-content {
   
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    gap: 10px;
    column-gap: 70px;
    row-gap: 90px;

  
}

    #recipe .recipe-content img {
    width: 240px;
}

#recipe .recipe-content a {
    color: black;
    font-family: the bigger the better;
    font-size: 50px;
}

#recipe .recipe-content a:hover {
    color: #ffc200;
}





#last {
    height: 50vh;
    margin-top: 600px;
    background: url(./image/last2.png) center center/cover no-repeat;
}

/*last end*/
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px;
    right: 20px;
    background-color: #ffc200; 
    color: black; 
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    font-family:the bigger the better ;

}

#myBtn:hover {
    background-color: #f1db93;
}
